h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
html,
body {
  width: 100%;
  line-height: 1.42;
  font-size: 18px;
  font-family: "Open Sans", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Alegreya', serif;
  font-family: 'Alegreya Sans', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100%;
}
.section__title {
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: url("./../png/elips.png") right top 50% no-repeat;
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo__link {
    flex: 0.1;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    flex: 2;
    display: flex;
    justify-content: space-between;
}
.main__menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
}
.menu__el {
    list-style: none;
}

.contact__info {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
}
.main__menu__link {
    text-decoration: none;
    color: #292929;
}
.contact__tell {
    color: #292929;
    text-decoration: none;
    font-weight: bold;
     
    font-size: 1.1em;
}
.contact__tell:hover {
    color: rgb(216, 135, 135);
}
.menu__el:hover .main__menu__link {
    color: rgb(216, 135, 135);
}